/*CSS DOCUMENT*/
@import url("https://use.typekit.net/bpj4moi.css");

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;} /*My edited version of the Eric Meyer’s reset tool. You may want to include this in all of your future CSS files. */


div.home-container { 
	background: url(images/home-background.jpg) center center fixed;
	background-size: cover;
	position: relative;
	min-height: 100vh;
	max-width: 80em;
	margin: auto;
}

div.container { 
	position: relative;
	min-height: 100vh;
	max-width: 80em;
	margin: auto;
	background: rgb(255, 255, 255);
}

/* >>> IMPORTANT: you have to change the wrap of the content of your home page (index) in a div with a class home-container to make it work. If you used a div with the class container on your home, you’ll only need to change the name of the class. And you need a div with the class container and all the other pages.  */

body {
	font-family: "coolvetica", sans-serif;
	font-weight: 300;
	font-style: normal;
}

main { 
	padding: .5em 2em 5em;
	margin: auto;
}

img {
    width: 100%; /*Please leave this line.*/
    display: block;
}

header {
	display: grid;
	grid-template-columns: 2fr 2fr;
	background: rgb(255, 255, 255);
	padding: 1.5em 1em;
}

h1 {
	width: 14em;
}

h2, h3, h4 {
		font-weight:500;
}

h2 {
	font-size: 3.5em;
	margin: .2em 0em .3em;
	letter-spacing: .05em;
	text-align: center;
}

h2.contact {
	font-size: 1.8em;
	margin: 1em 0em 1em;
	letter-spacing: .05em;
	text-align: left;
	font-weight:500;
}
	
h3 {
	font-size: 2.5em;
	margin: 1em 0em 1em;
	color:  rgb(216, 155, 155);
}

h4 {
	font-size: 1.5em;
}

a {
	text-decoration: none;
}

nav ul  {
	text-align: right;
	margin: 2em 0em 0em;
}
	
ul li 	{
	list-style-type: none;
}

figure {
	margin-bottom: 5em;
}

main.menu ul {
		margin: 2em 0em;
}	

main.menu ul li {
		margin: 0em 0em 2em;
		display: grid;
		grid-template-columns: auto auto;
		grid-template-rows: auto auto;
		list-style-type: none;
}	

p {
	margin: 1em 0em 1em;
	font-size: 1.3em;
}
	
p.description {
	grid-column: 1/3;
	margin: 0em;
	font-size: 1.3em;
}
	
p.price {
	grid-row: 1;
	grid-column: 2;
	color: rgb(0, 0, 0);
	text-align: right;
	margin: 0em;
	color:  rgb(216, 155, 155);
}
	
nav ul li {
	text-transform: lowercase;
	font-weight: normal;
	margin-bottom: 1em;
}
	
nav ul li a {
	color:  rgb(200, 150, 150);
	padding: .4em .4em .2em;
}

p.slogan .italic {
	font-style: italic;
}
p.slogan {
	font-size: 3.8em;
	margin: 1em 0em .25em;
	color: rgb(200, 150, 150);
	font-weight: 500;
}

address.home {
	color: rgb(0,0,0);
	font-size: 1.3em;
	color: rgb(200, 150, 150);
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3em; 
  box-sizing: border-box;
  padding: 1em 0.5em;
}

footer.home {
	color: rgb(200, 150, 150);
}

address {
	color: rgb(0,0,0);
	font-size: 1.3em;
}

footer p {
	margin: 0;
	font-size: 1em;
}

article {
	max-width:50em;
	margin: auto;
}

h1 img{
	width:150px;
	height: auto;
}

@media screen and (min-width: 60em) {

nav ul li{
	display: inline;
	font-size: 2em;
	margin: .5em .5em 0em;
}

main.menu ul{ 
	display:grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 4em;
	row-gap: 2em;
}

}